<footer>
    <a href="https://www.facebook.com/gondybrigi" target="blank">
        <mat-icon>facebook</mat-icon>
    </a>
    <a href="https://www.instagram.com/brigigondy/" target="blank">
        <mat-icon>
            <i class="fab fa-instagram"></i>
        </mat-icon>
    </a>
    <a href="https://open.spotify.com/user/11153679978" target="blank">
        <mat-icon>
            <i class="fab fa-spotify"></i>
        </mat-icon>
    </a>
    <a href="https://hu.pinterest.com/brigigondy/_created/" target="blank">
        <mat-icon>
            <i class="fab fa-pinterest"></i>
        </mat-icon>
    </a>
    <a href="https://www.tiktok.com/@brigigondy?lang=hu-HU" target="blank">
        <mat-icon>
            <i class="fab fa-tiktok"></i>
        </mat-icon>
    </a>
</footer>