<section class="intro">
    <div class="intro__content">
        <article class="intro__text-box">
            <h3 class="intro__title">Ép testben ép lélek</h3>
            <p class="intro__text">Mai, nyugati értelemben alapvetően kétféle jógát különböztetünk meg: testi és szellemi jógát, melyek célja a
                testi és a szellemi erők felébresztése. Az eredeti jóga mindkettőt jelenti, de elsősorban a szellemi jógát,
                ahogy a neve is utal rá: összekapcsolódni. Összekapcsolódás a Legfelsőbb Lénnyel. Istenhez (Ísvara) való
                közeledésen túl a jóga célja, hogy az ember testének tökéletes urává legyen, hogy az elmét ellenség helyett
                baráttá tegye: "Az emberi elme a legjobb barátja lesz annak, aki legyőzi őt, ám annak, aki nem képes
                felülkerekedni rajta, a legnagyobb ellenségévé válik."</p>
            </article>
        <img class="intro__img" src="../../../assets/intro.jpg" alt="">
    </div>
</section>