.nav {
    width: 100vw;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.055);

    &__item {
        text-decoration: none;
        color: black;
        font-size: 18px;
        padding: 0 15px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }
    }
}
