<section>
<div class="row text-center">
    <div class="col">
      <div class="btn-group">
        <div
          class="btn btn-dark"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Előző
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'hu' }}</h3>
        </div>
        <div
          class="btn btn-dark"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Következő
        </div>
      </div>
    </div>
  </div>
  <br />
  <div>
    <mwl-calendar-week-view
      [locale]="locale"
      [weekStartsOn]="1"
      [dayStartHour]="dayStartHour"
      [dayEndHour]="dayEndHour"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (hourSegmentClicked)="hourSegmentClicked($event.date)"
      [eventTemplate]="eventTemplate"
      >
    </mwl-calendar-week-view>
  </div>
  
  <!-- Everything you see below is just for the demo, you don't need to include it in your app -->
  
  <br /><br /><br />
  
  <!-- <h3>
    Edit events
    <button class="btn btn-primary float-right" (click)="addEvent()">
      Add new
    </button>
    <div class="clearfix"></div>
  </h3>
  
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Primary color</th>
          <th>Secondary color</th>
          <th>Starts at</th>
          <th>Ends at</th>
          <th>Remove</th>
        </tr>
      </thead> -->
  
      
 <!--   </table> 
  </div> -->
  
  <ng-template 
    #modalContent 
    let-close="close"
    
    >
    <div class="modal-header">
      <h5 class="modal-title">Add meg az esemény paramétereit</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-event-form [startingDate]="selectedHourDate"></app-event-form>
    </div>
    <div class="modal-footer">

    </div> 
  </ng-template> 

  <ng-template 
    #eventTemplate 
    let-weekEvent="weekEvent" 
    let-locale="locale"
    >
    <div class="event-template" (mwlClick)="handleEvent(weekEvent.event)">
      {{weekEvent.event.title}}
      <br>
      {{weekEvent.event.location}}
    </div>
</ng-template>

</section>