* {
    box-sizing: border-box;
    font-family: sans-serif;
}

#instafeed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    margin: auto;

    img {
        display: block;
        width: 100%;
    }
}
