<section class="classes">
    <h4 class="classes__title">Hol és hogyan gyakorolhatunk együtt?</h4>
    <div class="classes__card-box">
        <mat-card>
            <img mat-card-image src="../../../assets/private.jpg" alt="">
            <mat-card-title>
                Privát jóga
            </mat-card-title>
            <a href="http://">Olvass tovább <mat-icon>navigate_next</mat-icon></a>
        </mat-card>
        <mat-card>
            <img mat-card-image src="../../../assets/group2.jpg" alt="">
            <mat-card-title>
                Csoportos órák
            </mat-card-title>
            <a href="http://">Olvass tovább <mat-icon>navigate_next</mat-icon></a>
        </mat-card>
    </div>
</section>

